<% include ../partials/header %>

<header class = "jumbotron">
	<div class ="container">
		<h1>
			Creat New Campground
		</h1>

		<form action = "/campgrounds" method = "POST">
			<input class = "form-control" type = "text" name = "name" placeholder = "Name">
			<input class = "form-control" type = "text" name = "image" placeholder = "Image URL">
			<input class = "form-control" type = "text" name = "description" placeholder = "description">
			<button class = "btn btn-lg btn-default">Submit</button>
		</form>
		<a href = "/campgrounds">Go Back</a>
	</div>
</header>
<% include ../partials/footer %>