<% include ../partials/header %> 

<h1>Notifications</h1>

<table class="table table-striped">
	<!-- <ul> -->
	<% allNotifications.forEach(function(notification) { %>
		<tr>

			<!-- <li> -->
			<td>
				<a  href="/campgrounds/<%= notification.campgroundId %>">
					<%= notification.username %> created a new campground %>
				</a>
			</td>
			<td>
				<p style = "display: inline;">
					<em><%= moment(notification.createdAt).fromNow() %></em>
				</p>
			</td>
			<!-- </li> -->

		<!-- </ul> -->
		</tr>	
	<% }); %>
</table>

<% include ../partials/footer %> 